*{
    display: block;
    box-sizing: border-box;
}
body{
    background-color: chocolate;
    color: white;
    margin: 0;
}
.container{
    width: 100%;
    margin: 3.25rem auto 0 auto;
    padding: 0% 20%;
}
header{
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
}
h1{
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
form{
    background-color: black;
    /* max-width: 70%; */
    padding: 2.5rem;
    border-radius: 0.25rem;
    /* box-shadow: 2px grey; */
    /* padding-bottom: 1rem; */
}
.form-group{
    margin: 0 auto 0.5rem auto;
    padding: 0.25rem;
}
.form-group > label{
    margin-bottom: 4px;
}
.form-group > input{
    width: 90%;
}
.gender{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.gender-option{
    display: flex;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    /* width : 2rem */
    /* padding-bottom: -2px; */
}
form > div > button {
    transform: scale(1.5,1.25);
    background-color: chocolate;
}
form > div > select{
    width: 90%;
}

.popup{
    display: none;
    top: 10px;
    margin: auto;
    width:500px; 
    height:250px;
    color: #FFFFFF;
    background-color:black;
    border:1px #FFFFFF solid;
    position:fixed;
    z-index:9;
    padding:10px;
   }